[*.cs]

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = suggestion

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion
